<div class="overview_box">
  <div class="overview_box_heading">
    <h1 class="small">Relatórios Neptune</h1>
  </div>
  <div class="osb_content">
    <p>
      Cobrança de pagamentos, resumo de impostos, receita por cliente e relatórios mais perspicazes!
    </p>
    <a class="btn_large" href="/reports">Veja meus relatórios</a>
  </div>
</div><!--overview_box-->