<div class="col s12 l12 xl7">

  <div class="dashboard-whitebox">
    <h3 class="">
      Estatísticas
      <div id="radioBtn" class="btn-group">
        <a class="btn btn-primary btn-sm active intro dashboard-index-false-intro" data-intro='Isso mostrará cada valor com sua moeda atual'>Moeda Atual</a>
        <a class="btn btn-primary btn-sm intro" data-intro='Isso mostrará a soma dos valores faturados e a receita na moeda base'>Moeda Base</a>
      </div>
    </h3>
    <div class="data-wrapper">
      <ul class="currentData">
        <%= render 'actual_currency' %>
      </ul>
      <ul class="pastData">
        <%= render 'base_currency' %>
      </ul>
    </div>
  </div>
</div>